body{
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #41295a, #2f0743);
  }

  .App{
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
    background-color: white;
    margin-top: 50px;
  }

  .main_block{
    display: flex;
    justify-content: center;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
  }

  input{
      width: 300px;
      padding: 10px 0 10px 0;
      margin: 20px 0 20px 0;
      font-weight: 400;
      font-size: 1.2em;
  }

  .titel{
    text-align: center;
  }
  
  .btn-add{
    background: #65aa06;
    margin-top: 5px;
    padding: 10px 0 10px 0;
    border: none;
    width: 300px;
    color: white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
  }

  .btn-delete{
    background: #d60000;
    margin-bottom: 5px;
    padding: 10px 0 10px 0;
    border: none;
    width: 300px;
    color: white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
  }

  ul, li {
    width: 300px;
    height: auto;
    list-style-type: none;
    font-size: 1.1em;
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    }

.newtoggel {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}